{{if .Label}}
<label class="form-label" for="{{.ID}}">{{.Label}}</label>
{{end}}

{{ if .Type.IsTextArea }}
<textarea
        class="form-control"
        id="{{.ID}}"
        name="{{.Name}}"
        {{if .MaxLength}}
        maxlength="{{.MaxLength}}"
        {{end}}
        rows="3">{{.Value}}</textarea>

{{ else }}

    <input class="form-control"
       id="{{.ID}}"
       type="{{.Type.String}}"
       name="{{.Name}}"
       {{with .Value -}}
       value="{{.}}"
       {{end}}

       {{with .Pattern -}}
       pattern="{{.}}"
       {{end}}

       placeholder="{{.Placeholder}}"

       {{if .MinLength -}}
       minlength="{{.MinLength}}"
       {{end}}

       {{if .MaxLength -}}
       maxlength="{{.MaxLength}}"
       {{end}}

       {{if .Required -}}
       required
       {{end}}

       {{if .ReadOnly -}}
       readonly
       {{end}}

       {{with .DataList.ID -}}
       list="{{. -}}"
       {{end}}

       {{with .DataComponent}}
       data-component="{{.}}"
       {{end}}

       {{with .DataTarget}}
       data-target="{{.}}"
       {{end}}>

    {{ if .DataList.ID }}
    <datalist id="{{.DatList.ID}}">
        {{ range .DataList.Options }}
        <option value="{{.}}">{{.}}</option>
        {{ end }}
    </datalist>
    {{ end }}

    {{ with .Desc }}
    <small class="form-text text-muted">{{.}}</small>
    {{ end }}

    {{ with .ErrMsg }}
    <div class="form-errortext">{{.}}</div>
    {{ end }}

{{end}}