<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% set iconUrl = "http://interactive.ftchinese.com/favicons" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{iconUrl}}/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{iconUrl}}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{iconUrl}}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{iconUrl}}/apple-touch-icon-76x76.png">
    <link href="{{iconUrl}}/favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <title>{% block title %}Superyard{% endblock %} - FTC CMS</title>
    {% if env.Debug %}
    <link rel="stylesheet" href="/style/bootstrap.css">
    <link rel="stylesheet" href="/style/main.css">
    {% else %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% endif %}
</head>

<body>
<header class="navbar navbar-expand-lg o-header">
    <div class="container">
        <a class="navbar-brand" href="/">FTC CMS</a>
    </div>
</header>

<main class="page-content" class="mt-3" role="main">
    <div class="container">

        {% block main %}
        <div class="row">
            <div class="col-sm-3" role="navigation">
                <nav class="nav flex-column sidebar">
                    {% for item in sidebarNav %}
                    <a class="nav-link{% if item.active %} active{% endif %}" href="{{ item.href }}">{{ item.name }}</a>
                    {% endfor %}
                </nav>
            </div>

            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</main>

<footer class="o-footer o-footer--theme-dark">
    <div class="container">
        <div class="o-footer__copyright pt-3 pb-3">
            <small>
                © FT中文网 {{env.Year}}.
                <abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial
                Times Ltd.
            </small>
        </div>

        <div class="text-muted pb-2">
            <small>版本 v{{env.Version}}</small>
        </div>
    </div>
</footer>

{% if env.Debug %}
<script src="/script/bootstrap-native-v4.js"></script>
<script src="/script/main.js"></script>
{% else %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>
{% endif %}

</body>

</html>