{{template "layout" .}}
{{define "main"}}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6 col-xl-5">
        <div class="mt-4">
            <h4 class="text-center">登录</h4>
            <form method="post">

                {{range .Inputs}}
                <div class="form-group">
                    {{if .Label }}
                    <label class="form-label" for="{{ID}}">{{.Label}}</label>
                    {{end}}
                    <input class="form-control"
                           type="{{.Type}}"
                           id="{{.ID}}"
                           name="{{input.name}}"
                           {{if .Value}}
                           value="{{.Value}}"
                           {{end}}
                           placeholder="{{.Placeholder}}"
                           {{if MinLength}}
                           minlength="{{.MinLength}}"
                           {{end}}
                           {{if MaxLength}}
                           maxlength="{{.MaxLength}}"
                           {{end}}
                           {{if Required}}
                           required
                           {{end}}
                           {{if .DataList}}
                           list="{{.DataList.ID}}"
                           {{end}}>

                    {{if .DataList}}
                    <datalist id="{{.DataList.ID}}">
                        {{range .DataList.Option}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </datalist>
                    {{end}}

                    {{if .Desc}}
                    <small class="form-text text-muted">{{.Desc}}</small>
                    {{end}}

                    {{if .Error}}
                    <div class="form-errortext">{{.Error}}</div>
                    {{end}}
                </div>
                {{end}}

                <div class="form-check clearfix">
                    <input class="form-check-input"
                           id="rememberMe"
                           type="checkbox"
                           name="rememberMe"
                           value="true"
                           checked>
                    <label for="rememberMe">记住我</label>

                    <a class="float-right" href="{{ PwResetLink }}">忘记密码?</a>
                </div>

                <button
                        class="btn btn-block btn-primary"
                        data-disable-with="正在登录..."
                        type="submit">登录</button>
            </form>
        </div>
    </div>
</div>
{{end}}