.barrier-banner {
    background-color: #f2e0d0;
}
.barrier-banner .container {
    padding-bottom: 20px;
    padding-top: 20px;
}
.barrier-cover {
    width: 100%;
    object-fit: contain;
}
.barrier-heading {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.5;
}
