// primary palette
$color-paper:                 #fff1e5;
$color-claret:                #990f3d;
$color-oxford:                #0f5499;
$color-teal:                  #0d7680;

//secondary palette
$color-wheat:                 #f2dfce;
$color-sky:                   #cce6ff;
$color-slate:                 #262a33;
$color-velvet:                #593380;
$color-mandarin:              #ff8833;
$color-lemon:                 #ffec1a;

//tertiary palette
$color-candy:                 #ff7faa;
$color-wasabi:                #96cc28;
$color-jade:                  #00994d;
$color-crimson:               #cc0000;

// black tints
$color-black5: #F2E5DA;
$color-black10: #E6D9CE;
$color-black20: #CCC1B7;
$color-black30: #B3A9A0;
$color-black40: #999189;
$color-black50: #807973;
$color-black60: #66605C;
$color-black70: #4D4845;
$color-black80: #33302E;
$color-black90: #1A1817;

// white tines
$color-white10: #FFF2E8;
$color-white20: #FFF4EA;
$color-white40: #FFF7EF;
$color-white60: #FFF9F5;
$color-white80: #FFFCFA;

// teal tines
$color-teal20: #052F33;
$color-teal30: #08474D;
$color-teal40: #0A5E66;
$color-teal50: #0D7680;
$color-teal60: #0F8E99;
$color-teal70: #12A5B3;
$color-teal80: #14BDCC;
$color-teal90: #17D4E6;
$color-teal100: #1AECFF;
