{% extends "layouts/center.html" %}

{% block content %}
<p>
    This is the starting point to visit various services of revamped FTC Content Management System.
</p>
<p>Different sections of the system may require different permissions. If you cannot access a certain section, contact the administrators for priviledges.</p>
<p>
    Click settings on the top-right corner to set/update your personal information, like change password, update email address, bind you email registered at ftchinese.com, update password, etc..
</p>
{% endblock %}