{% extends "layouts/center.html" %}

{% block content %}

<h4 class="text-center">CMS Login</h4>

<form method="post">

    {% for input in form.Inputs %}
        <div class="form-group">
            {% include "partials/text-input.html" %}
        </div>
    {% endfor %}

    <div class="form-check">
        <input class="form-check-input"
               id="rememberMe"
               type="checkbox"
               name="rememberMe"
               value="true"
               checked>

        <label for="rememberMe">Remember Me</label>

    </div>

    {% include "partials/submit-button.html" %}
</form>

<div class="mt-4">
    <a href="{{ forgotPwLink.href }}">{{ forgotPwLink.text }}</a>
</div>

{% endblock %}