{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{template "metaog" .}}
    <title>Go Web App</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">My Site</a>

        </div>
    </header>

    <main class="page-content" role="main">
        <div class="container">
            {{block "main" .}}
                <div class="row">
                    <div class="col-sm-3" role="navigation">
                        <nav class="nav flex-column sidebar">
                            {{range .Sidebar}}
                            <a class="nav-link{{if .Active}} active{{end}}" href="{{ .Href }}">{{ .Text }}</a>
                            {{end}}
                        </nav>
                    </div>

                    <div class="col-sm-9">
                        {{block "content" .}}{{end}}
                    </div>
                </div>
            {{end}}
        </div>
    </main>

    <footer class="o-footer o-footer--theme-dark">
        <div class="container">
            <div class="row">
                {{range .Footer}}
                <div class="col-6 col-md-3 col-lg-2">

                    <h6 class="o-footer__matrix-title">{{.Title}}</h6>
                    <div class="o-footer__matrix-content">

                        {{range .Items}}
                        <a class="o-footer__matrix-link" href="{{.Href}}" target="_blank">{{.Text}}</a>
                        {{end}}

                    </div>

                </div>
                {{end}}
            </div>

            <div class="o-footer__copyright">
                <small>
                    © FT中文网 {{.CurrentYear}}.
                    <abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.
                </small>
            </div>
            <div class="text-muted pb-3">
                <small>测试版 v{{.Version}}</small>
            </div>
        </div>
    </footer>

</body>

</html>
{{end}}